{% extends 'blog/base.html' %}

  {% block content %}

    {% for post in posts %}

  <main>

      <div class="posts">
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <!-- le |linebreaksbr nous permet de rediriger le texte des posts à travers un filtre qui convertit automatiquement les fins de lignes en paragraphes. -->
        <p class="pub">Published : {{ post.published_date }}</p>
      </div>

  </main>

    {% endfor %}

  {% endblock %}
